<div class="footer">
  <div class="footer__social">
    <div class="footer__social__icons">
      <i>linkdin</i>
    </div>
    <div class="footer__social__icons">
      <i>github</i>
    </div>
    <div class="footer__social__icons">
      <i>threads</i>
    </div>
    <div class="footer__social__icons">
      <i>x</i>
    </div>
    <div class="footer__social__icons">
      <i>instagram</i>
    </div>
  </div>
  <div class="footer__copyright">2025© - Heriberto Sanchez</div>
  <div class="footer__contact">
    <div class="footer__contact__options">
      <i>email</i>
      <div>
        <span>hersac1@gmail.com</span>
        <span>hersac95@outlook.com</span>
      </div>
    </div>

    <div class="footer__contact__options">
      <i>whatsapp</i>
      <div>
        <span>+57</span>
        <span>310 762 5272</span>
      </div>
    </div>

    <div class="footer__contact__options">
      <i>ubicacion</i>
      <div>
        <span>Carrera 1 A bis No. 64 - 09 </span>
      </div>
    </div>
  </div>
</div>
