@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/louis_george_cafe/Inter-Regular.ttf"),
    url("../../assets/fonts/inter/Inter-Black.ttf"),
    url("../../assets//fonts/inter/Inter-Bold.ttf"),
    url("../../assets/fonts/inter/Inter-ExtraBold.ttf"),
    url("../../assets/fonts/inter/Inter-ExtraLight.ttf"),
    url("../../assets//fonts/inter/Inter-Light.ttf"),
    url("../../assets//fonts/inter/Inter-Medium.ttf"),
    url("../../assets/fonts/inter/Inter-SemiBold.ttf"),
    url("../../assets/fonts/inter/Inter-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}
